<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Placement Assistant Software</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <body>
    <div class="container">
    <h1>Your Feedback </h1>
    <form>
        <div class="form-group">
            <label class="form-label" for="new">Title</label>
            <input class="form-control" type="text" name="new" >
            <label class="form-label" for="postBody">Post</label>
            <textarea class="form-control" name="postBody" cols="40" rows="5"></textarea>
        </div>
        <button class="btn btn-primary" type="submit" name="button"><a style="text-decoration: none; color: #fff" href="/sucessfull">Publish</a></button>
</form>
</div>
</body>
</html>